# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.cursor/

# Chrome extension artifacts
*.crx
